/*Estilos da pagina index.html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    background-color: #b6a8a8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333232;
    background-color: #f4f4f4;
    padding: 50px;
}

/* Estilos comuns */
header, #p1 {
    background-color: #b6a8a8;
    color: white;
    padding: 30px 0px 0.015px 25px;
    text-align: center;
}

header h1 {
margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-inline-end: 20px 0px 0px ;
}

section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0.5px rgba(0,0,0,0.1);
}

h2.center, p.center {
    text-align: center;
}

/*Estilos especificos Home*/

  .container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#menu li{
    display: inline;
    padding: 10px;  
}

#menu li a {
    text-decoration: none;
    color: rgb(13, 3, 56);
    font-size: 15px;
}
#menu li a:hover{
    color: grey;
}

.p-30{
   padding: 30px;
}

.br-50 {
    width: 275px;
    height: auto;
    padding: 25px;
    border-radius: 45%;
}

/*Estilos da pagina contato.html*/
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(12, 5, 105, 0.753);
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


form button:hover {
    background-color: #555;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

main {
    margin-top: 25px;
} 

